tqdm
langchain~=0.0.201
javascript~=1!1.0.2
setuptools~=65.5.1
openai~=0.27.8
chardet
cchardet
chromadb
tiktoken
requests~=2.31.0
setuptools
gymnasium~=0.28.1
psutil~=5.9.5
minecraft_launcher_lib
numpy~=1.24.3
networkx~=3.1
pandas~=2.0.2